[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
adafruit-circuitpython-bme280 = "*"
sds011 = "*"
toml = "*"
paho-mqtt = "*"

[dev-packages]

[requires]
python_version = "3.7"
